.sign_in {
    background: #22263E;

    h4 {
        color: #FFF;
        text-align: center;
        font-family: Manrope;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 1.95rem */
    }

    label {
        color: #FFF;
        font-family: Manrope;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 1.4rem */
        margin-bottom: 0.62rem;

        span {
            color: #E03137;
            font-family: Manrope;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; /* 1.4rem */
        }
    }

    input {
        display: flex;
        padding: 1rem 1.25rem;
        align-items: flex-start;
        gap: 0.625rem;
        align-self: stretch;
        border-radius: 0.625rem;
        color: #fff;
        border: 1px solid #E9EAEC;
        background-color: transparent;

        &#password {
            padding-right: 3rem;    
        }

        &:focus {
            outline: none;
            border-color: #F06F51;
        }
    }

    .plain_text {
        color: var(--greyscale-500, #A0AEC0);
        text-align: center;
        font-family: Manrope;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 1.4rem */
    }
}

button.btn_login {
    height: 3.5rem;
    padding: 1.3125rem 1.5rem;
    border-radius: 0.625rem;
    background-color: #F06F51;

    span {
        color: #FFF;
        text-align: center;
        font-family: Manrope;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 1.5rem */
        letter-spacing: 0.01875rem;
    }
}

.check_remember {
    input {
        background-color: transparent;
    }

    span {
        color: #687588;
        /* Body/medium/medium */
        font-family: Manrope;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 1.4rem */
    }
}

.link_forgot {
    color: #687588;
    text-align: right;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 1.4rem */
}

.link_signup {
    color: #F06F51;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.link_term_condition, .link_policy {
    color: #FFF;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 1.4rem */
}