.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.25rem;
    background: #f4f4f4;
    flex-shrink: 0;

    input {
        background-color: transparent;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Archivo;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 2rem */

        &:focus {
            outline: none;
        }
    }
}

.btn_gpt.generating {
    cursor: wait;

    img {
        mix-blend-mode: exclusion;
    }
}