.hero-section {
    .hero-headline {
        color: #22263E;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Switzer;
        font-size: 4em;
        font-style: normal;
        font-weight: 600;
        line-height: 5.5rem;
    }
    .hero-text {
        max-width: 52.25rem;
        color: #585858;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Switzer;
        font-size: 1.125em;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem; /* 155.556% */
    }
}

.search-section {
    border-radius: 1.25rem;
    background: #E0755A;

    .search_bar {
        border-radius: 1.25rem;
        background: #FFF;
    }

    input {
        color: #1c1c1c;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Archivo;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 1.5rem */

        &:focus {
            outline: none;
        }
    }

    select {

        &:focus {
            outline: none;
        }
    }
}

.v-line {
    width: 0.0625rem;
    height: 2.375rem;
    background: #A4A4A4;
}

.search_letter {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4375rem; /* 127.778% */
}