/* Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Fonts */
@import url('https://fonts.cdnfonts.com/css/switzer');
@import url('https://fonts.cdnfonts.com/css/dm-sans');
@import url('https://fonts.cdnfonts.com/css/archivo');
@import url('https://fonts.cdnfonts.com/css/archivo-black');
@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.cdnfonts.com/css/manrope');

/* Variables */
:root {
	--midnight-moss2: rgba(5, 5, 5, 0.349);
	--midnight-moss: rgba(5, 5, 5, 1);
	--charade: rgba(43, 45, 58, 1);
	--daisy-bush-2: rgba(82, 22, 149, 0.4);
	--daisy-bush: rgba(82, 22, 149, 1);
	--hoki: rgba(98, 128, 165, 1);
	--dove-gray: rgba(112, 112, 112, 1);
	--gull-gray-2: rgba(157, 171, 191, 0.239);
	--gull-gray: rgba(157, 171, 191, 1);
	--purple-mountains-majesty: rgba(161, 133, 191, 1);
	--cadet-blue: rgba(165, 178, 196, 1);
	--pigeon-post: rgba(171, 201, 217, 0.431);
	--east-side: rgba(175, 151, 202, 1);
	--mischka: rgba(203, 210, 221, 0.902);
	--botticelli: rgba(204, 223, 232, 1);
	--mischka-2: rgba(208, 214, 224, 0.902);
	--blossom: rgba(213, 180, 201, 0.729);
	--geyser: rgba(213, 218, 227, 1);
	--lola: rgba(224, 200, 215, 1);
	--prim: rgba(232, 226, 240, 1);
	--athens-gray: rgba(233, 237, 242, 1);
	--concrete: rgba(243, 243, 243, 1);
	--white: rgba(255, 255, 255, 1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	&::-webkit-scrollbar-thumb {
		border-radius: 50px;
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 50px;
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0;
	color: var(--text-color);
	background-color: #fff;
	font-family: 'Nunito', Arial, sans-serif;
}
